@borderRadius:10px;

#landingBg {
	position:fixed;
	top:0;
	left:0;
	z-index:-1
}

.bgWidth {
	width:100%;
}

.bgHeight {
	height:100%;
}



#landingContentTop {
	background-color:rgba(20,20,20,0.85);
	font-size:120%;
	padding-top:20px;
	padding-bottom:40px;
	width:520px;
	margin-left:auto;
	margin-right:auto;
}

#landingDominus {
	font-size:300%;
	text-align:center;
	padding-bottom:5px;
}

#landingContent {
	background-color:rgba(20,20,20,0.65);
	font-size:120%;
	text-align:center;
	width:520px;
	margin-left:auto;
	margin-right:auto;
}

#landingForm {
	width:520px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:20px;
	background-color:rgba(20,20,20,0.7);
}



.landingPad {
	padding:40px;
}


.landingLargeText {
	font-size:130%;
}

.loginLink {
	font-size:160%;
}

.loginTitle {
	font-size:180%;
}