<template name="game">
	{{#if down_for_maintenance}}
		{{> down_for_maintenance}}
	{{else}}
		<div id="top_panel">
			{{> top_panel}}
		</div>


		{{#if currentUser}}
			<div id="left_panels">
				<div class="left_panel_content">
					{{#if show_summary_panel}}
						{{> left_panel}}
					{{/if}}
				</div>

				<div class="left_panel_content">
					{{#if show_notifications_panel}}
						{{> notifications_panel}}
					{{/if}}
				</div>

				<div class="left_panel_content">
					{{#if show_market_panel}}
						{{> market_panel}}
					{{/if}}
				</div>

				<div class="left_panel_content">
					{{#if show_stats_panel}}
						{{> stats_panel}}
					{{/if}}
				</div>

				<div class="left_panel_content">
					{{#if show_chat_panel}}
						{{> chat_panel}}
					{{/if}}
				</div>

				<div class="left_panel_content">
					{{#if show_forum_panel}}
						{{> forum_panel}}
					{{/if}}
				</div>

				<div class="left_panel_content">
					{{#if show_rankings_panel}}
						{{> rankings_panel}}
					{{/if}}
				</div>

				<div class="left_panel_content">
					{{#if show_settings_panel}}
						{{> settings_panel}}
					{{/if}}
				</div>

				<div class="left_panel_content">
					{{#if show_help_panel}}
						{{> help_panel}}
					{{/if}}
				</div>

				<div class="left_panel_content">
					{{#if show_tree_panel}}
						{{> tree_panel}}
					{{/if}}
				</div>

				<div class="left_panel_content">
					{{#if show_store_panel}}
						{{> store_panel}}
					{{/if}}
				</div>

				<div class="left_panel_content">
					{{#if show_admin_panel}}
						{{> admin_panel}}
					{{/if}}
				</div>

				<div class="left_panel_content">
					{{> navigation_panel}}
				</div>

				<div style="clear:both;"></div>
			</div>

			<div id="right_panel">
				{{> UI.dynamic template=rp_template data=rp_template_data}}
			</div>


		{{/if}}

		{{> subscription_ready_panel}}
		{{> building_castle_modal}}
		{{> connection_lost_alert}}
		{{#if show_welcome_screen}}
			{{> welcome_screen}}
		{{/if}}
		{{#unless currentUser}}
			{{> not_logged_in}}
		{{/unless}}

		<div id="hex_body">
			{{> hexes}}
		</div>

	{{/if}}
</template>
