@import (reference) url("../../../../client/css/variables.lessimport");

#rankings_panel {
	overflow: auto;
	background-color: @panel_bg;
	padding: @panel_padding;
	height: 100%;
	pointer-events: auto;
	margin-left: 10px;
	max-width: 450px;
}

#rankings_panel .panel {
	margin-top:15px;
}


.rank_start {
	counter-reset: ranking-counter;
}

.rank_username:before {
	content: counter(ranking-counter) ". ";
	counter-increment: ranking-counter;
	color:#aaa;
}

.rank_username {
	white-space:nowrap;
}

.rank_numbers {
	text-align:right;
	white-space:nowrap;
}

.rank_buttons {
	text-align:right;
	white-space:nowrap;
	width:83px !important;
}